/***************************************

CSS styles for dragonBox AngularJS component

***************************************/

@import 'box';
@import 'common';

.dragon-box {
	@extend .box;
	@extend .text-center;

	%top-row-img {
		margin-bottom: -0.5ex;
		height: 6.7ex;
	}

	img.dragon {
		@extend %top-row-img;
		margin-right: 0.2em;
	}

	img.egg {
		@extend %top-row-img;
	}

	img.elem {
		margin: 0.5ex 0.3em auto auto;
		height: 4.5ex;
	}

	.name {
		margin-bottom: -0.5ex;
	}
}