/***************************************

CSS styles for breeding hints web page

***************************************/

@import 'box';
@import 'common';
@import 'dragon-box';
@import 'dragonSearch';
@import 'elem-box';
@import 'footer';
@import 'navBar';
@import 'time-tweak-box';
@import 'pager-view';

.ui-select {
	@extend .small-text;

	width: 11.5em;
}

/* Input section: name menu and time tweak checkboxes */
.input {
	> div:first-of-type {
		@extend .flex-row;
		@extend .flex-single;
		@extend .flex-center-main;
		@extend .flex-center-cross;

		margin: 1.5ex auto;

		> * {
			margin: auto 0.25em;
		}
	}
}

.breeding-hints {
	margin: 1.5ex auto;

	/* Single breeding hint container */
	> div {
		@extend .flex-row;
		@extend .flex-single;
		@extend .flex-center-main;
		@extend .flex-center-cross;

		/* = and + signs spans */
		span:not(.note) {
			@extend .bold;
			@extend .text-center-v;

			font-size: 500%;
		}
	}
}

.note {
	@extend .box;
	@extend .text-center;
}