/***************************************

CSS styles for dragons search web page

***************************************/

@import 'common';
@import 'dragonSearch';
@import 'footer';
@import 'mixins';
@import 'navBar';
@import 'pagination-default';

$image-margin-right: 5px;

form {
	@extend .pull-center-h;
	width: 50%;

	/* Menu grid */
	> div:first-of-type {
		@include grid-with-inner-spacing(7px);
		width: 100%;

		label {
			@extend .pull-bottom;
			box-sizing: border-box;
			width: 33%;
		}
	}

	/* Checkboxes row */
	> div:last-of-type {
		@extend .flex-row;
		@extend .flex-single;
		@extend .flex-center-main;
		@extend .flex-center-cross;
		margin-top: 15px;

		input[type="checkbox"] {
			flex: 1 0px;
		}

		label {
			flex: 4 0px;
		}
	}
}

.chosen {
	@extend .new-line;
	@extend .pull-center-h;
}

button[name="submit"] {
	@extend .new-line;
	@extend .pull-center-h;
	@extend .small-caps;
	margin-top: 10px;
	margin-bottom: 10px;
	border: none;
	border-radius: 15px;
	padding: 10px 30px;
	font-size: 150%;
}

table {
	@extend .pull-center-h;
	margin-top: 10px;
	margin-bottom: 10px;

	> thead {
		@extend .small-caps;
	}

	th, td {
		@extend .pull-center-v;
		padding: 10px 20px;

		* {
			@extend .pull-center-v;
		}
	}

	td {
		img {
			margin-right: 5px;
		}

		/* Dragon name cell */
		&:first-of-type {
			img {
				height: 60px;
			}
		}

		/* Element cells */
		&:nth-of-type(3), &:nth-of-type(4), &:nth-of-type(5), &:nth-of-type(6) {
			img {
				height: 40px;
			}
		}
	}
}
