<div class="breeding-hint">

    <dragon-box [dragon]="hint"
                [reduced]="reduced"
                [putDays]="putDays"
    ></dragon-box>

    <span>=</span>

    <!-- Parent1 -->
    <dragon-box *ngIf="hint.parent1"
                [dragon]="hint.parent1"
                [reduced]="reduced"
                [putDays]="putDays"
                (interact)="emitSelected($event)"
    ></dragon-box>
    <span *ngIf="hint.parent1">+</span>

    <!-- Parent2 -->
    <dragon-box *ngIf="hint.parent2"
                [dragon]="hint.parent2"
                [reduced]="reduced"
                [putDays]="putDays"
                (interact)="emitSelected($event)"
    ></dragon-box>

    <!-- Breed Elems -->
    <template ngFor let-elem [ngForOf]="hint.breedElems"
              let-last="last">

        <elem-box [elem]="elem"></elem-box>
        <span *ngIf="!last || hint.notes">+</span>

    </template>

    <!-- Notes -->
    <span *ngIf="hint.notes" class="notes">{{ hint.notes }}</span>

    <!-- Basic breeding rule -->
    <template *ngIf="isBasicBreedingRule"
              ngFor let-elem [ngForOf]="hint.elems"
              let-last="last">

        <elem-box [elem]="elem"></elem-box>
        <span *ngIf="!last">+</span>

    </template>

</div>
