/***************************************

CSS styles for website navigation bar

***************************************/

@import 'common';
@import 'mixins';

nav ul {
	@extend .text-left;

	list-style-type: none;
	padding-left: 0;

	li {
		display: inline;
		margin: auto 1em;

		@include links(#000);
	}
}